.wrapper {
	max-width: 100%;
	display: flex;
}

.game {
	width: 100%;
}

.chat {
	display: none;
}

@media screen and (min-width: 1400px){
	.game {
		background-color: rgb(62, 62, 62);
		width: 80%;
		max-width: 80%;
	}

	.chat {
		display: block;
		width: 20%;
		position: relative;
	}
}