<img class="avatar" [src]="Personne.avatar">

<p class="name">{{ Personne.name }}</p>
<p class="date">{{ Personne.date.getDay() }}/{{ Personne.date.getMonth() }}/{{ Personne.date.getFullYear() }}</p>
<p class="description">{{ Personne.description }}</p>
<p class="victoires">Victoires : {{ Personne.victoires }}</p>

<div *ngIf="Personne.name !== myUser.pseudo">
	<button mat-raised-button color="accent" (click)="addToFriends()">{{ myUser.friends.indexOf(Personne.id) == -1 ? 'Retirer des amis' : 'Ajouter en amis' }}</button>
	<button mat-raised-button color="accent" (click)="inviteToPlay()" [disabled]="">Inviter à jouer</button>
	<button mat-raised-button color="accent" (click)="inviteToWatch()" [disabled]="">Voir match</button>
	<button mat-raised-button color="accent" (click)="sendPrivateMessage()">Message privé</button>
	<!-- <button mat-raised-button color="warn" (click)="blockUser()">{{ myUser.blacklist.indexOf(Personne.id) ? 'Bloquer' : 'Débloquer'}}</button> -->
</div>