.avatar {
	border: 1px solid black;
	max-height: 300px;
	max-height: 300px;
}

.name {
	font-size: large;
}

.date {
	font-size: small;
}

.description {
	font-style: italic;
}

button {
	margin-right: 5px;
}