<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transcendance</title>
</head>
<body>
  <ul class="NavBar">
    <li class="NavItem"> <p class="Item">Accueil</p> </li>
    <li class="NavItem"> <p class="Item">Profil</p> </li>
    <li class="NavItem"> <p class="Item">Classement</p> </li>
    <li class="NavItem"> <p class="Item">test</p> </li>

  </ul>

  <img class="PongImg" src='https://media2.ledevoir.com/images_galerie/nwd_132675_102056/image.jpg' alt="Pong"/>
  <img class="ChatImg" src="../../Ressources/Chat.png" alt="chat"/>

</body>
</html>