.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: 100%;
}

.game {
	grid-column-start: 1;
	grid-column-end: 3;
	background-color: aqua;
}

.chat {
	grid-column-start: 3;
	grid-column-end: 4;
	background-color: rgb(178, 50, 140);
}