<img class="img" [src]="Personne.avatar" [alt]="Personne.avatarName">

<p>{{ Personne.Name }}</p>
<p>{{ Personne.Description }}</p>
<p>{{ Personne.date.getDay() }}/{{ Personne.date.getMonth() }}/{{ Personne.date.getFullYear() }}</p>
<p>{{ Personne.victoires }}</p>
<p> Matchs history: </p>
<div *ngFor="let match of matchs">
	<p>{{match}}</p>
</div>
<button mat-raised-button color="accent" (click)="openDialog()">Ajouter en amis</button>
<button *ngIf="Personne.match" mat-raised-button color="accent">Voir match</button>