<img class="img" [src]="Personne.avatar">

<p>{{ Personne.name }}</p>
<p>{{ Personne.description }}</p>
<p>{{ Personne.date.getDay() }}/{{ Personne.date.getMonth() }}/{{ Personne.date.getFullYear() }}</p>
<p>{{ Personne.victoires }}</p>
<p> Matchs history: </p>
<div *ngFor="let match of matchs">
	<p>{{match}}</p>
</div>
<button mat-raised-button color="accent" (click)="addToFriends()"> {{ myUser.friends.has(this.Personne.name) ? 'Retirer des amis' : 'Ajouter en amis'     }}</button>
<button *ngIf="Personne.match" mat-raised-button color="accent">Voir match</button>
