<div class="wrapper">
	<div class="profil">
	<img class="img" [src]="myUser.avatar">
	<p> {{myUser.pseudo}}</p>
	<p> {{myUser.description}}</p>
	<button mat-raised-button color="accent"  (click)="displayFriends()"> See friends </button>
	</div>
	<button class="button"  mat-raised-button color="accent"  (click)="openDialog()">  Modifer le profil</button>
	<button mat-raised-button color="accent" (click)="secureConect()"> {{ two_factor ? 'Retirer connexion 2FA' : 'Activer connexion 2FA'}}</button>
	<button class="button"  mat-raised-button color="accent" (click)="showQR()"> {{ two_factor ? 'showQR' : ''}} </button>
</div>