<mat-toolbar color="accent">
	<mat-form-field appearance="fill" class="topbar" color="accent">
		<mat-label>Channel</mat-label>
		<mat-select [(value)]="selectedChannel" placeholder="{{ currentChannel.name }}" (selectionChange)="selectChannel($event.value)">
			<mat-option *ngFor="let channel of channels;" value="{{ channel.name }}">{{ channel.name }}</mat-option>
		</mat-select>
	</mat-form-field>
	<div class="chatButtons">
		<mat-icon (click)="openSettingsDialog()">settings</mat-icon>
		<mat-icon (click)="openAddDialog()">add_circle</mat-icon>
	</div>
</mat-toolbar>

<div class="chat-area" #scrollMe [scrollTop]="scrollMe.scrollHeight">
	<div *ngFor="let message of currentChannel.messages; let isOdd = odd;">
		<div [ngClass]="isOdd ? 'container darker' : 'container'">
			<img [src]="message.userAvatar" alt="Avatar" (click)="openUserProfile(message.userPseudo)"/>
			<p><span class="userPseudo">{{ message.userPseudo }}</span><span class="time">{{ message.date.getHours() }}:{{ message.date.getMinutes() }}</span></p>
			<p class="text" >{{ !isUserBlocked(message.userPseudo) ? message.text : 'Cet utilisateur est bloqué.' }}</p>
		</div>
	</div>
</div>

<form class="chatbox-area" (ngSubmit)="sendNewMessage(message)">
	<mat-form-field appearance="fill" class="chatbox" color="accent">
	  <mat-label>Message</mat-label>
	  <input matInput #message maxlength="256" placeholder="Qu'avez-vous de beau à dire ?">
	  <mat-hint align="start">Soyez poli pas méchant svp</mat-hint>
	  <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
	</mat-form-field>
</form>