@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$mainColor: #ffffff;
$secondaryColor: #eaeaea;
$pseudoColor: #33abeb;
$textColor: #000000;
$dateColor: #aaa;

/* Channels */
.channels {
	background-color: #ef9999;
	height: 30px;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	font-size: 1.5rem;
}

.channels p {
	float: left;
	display: inline;
	flex: 2;
	color: rgb(72, 72, 72);
}

.toggle, .createChannel {
	margin: 0 5px;
	padding-top: 5px;
	cursor: pointer;
}

.channelDropdown {
	position: relative;
 	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
 	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;

	& a:hover {background-color: #ddd}
}

.open .channelDropdown {
	display: block;
}

/* Chat Messages */
.container {
	background-color: $mainColor;
	padding: 10px;
}

  
.darker {
	border-color: #ccc;
	background-color: $secondaryColor;
}
  
/* Clear floats */
.container::after {
	content: "";
	clear: both;
	display: table;
}

.userPseudo {
	color: $pseudoColor;
	font-family: 'Roboto', sans-serif;
}

.container img {
	float: left;
	max-width: 55px;
	width: 100%;
	margin-right: 15px;
	margin-top: 12px;
	border-radius: 50%;
}
  
.time {
	padding-left: 5px;
	color: $dateColor;
}

/* Chatbox */
.chatbox-area {
	position: absolute;
	bottom: 0;
	width: 100%;
	justify-content: center;
	padding: 0px 10px;
}

.txtbox{
	height: 32px;
	width: 80%;
	text-align: center;
}

.buttonSend{
	height: 40px;
	width: 15%;
	margin: 0px 10px;
}
