@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$mainColor: #ffffff;
$secondaryColor: #eaeaea;
$pseudoColor: #33abeb;
$textColor: #000000;
$dateColor: #aaa;

$primaryColor: #69f0ae;

/* Channels */

mat-toolbar {
	height: 60px;
	padding-left: 0px;
	padding-right: 0px;
}

.topbar {
	margin-top: 20px;
	transform: scale(0.8);
}

mat-icon {
	padding-left: 2px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	
	&:hover {
		color: whitesmoke;
	}
}


.mat-raised-button {
	height: 75px;
	width: 75px;
	font-size: 24px;
	margin-left: auto;
}

.channels {
	font-family: 'Roboto', sans-serif;
	background-color: #ef9999;
	height: 35px;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	font-size: 1.4rem;
}

/* Chat Messages */
.chat-area {
	overflow: scroll;
	height: 100%;
	max-height: 90%;
	margin-bottom: 75px;
}

.container {
	background-color: $mainColor;
	padding: 1px 10px;
	padding-bottom: 10px;
}

  
.darker {
	background-color: $secondaryColor;
	padding-bottom: 10px;
}
  
/* Clear floats (Pas nécessaire à priori) */
.container::after {
	content: "";
	clear: both;
	display: table;
}

.userPseudo {
	color: $pseudoColor;
	font-family: 'Roboto', sans-serif;
}

.text {
	padding-left: 4.3rem;
}

.container img {
	float: left;
	max-width: 55px;
	width: 100%;
	margin-right: 15px;
	margin-top: 12px;
	border-radius: 50%;
}
  
.time {
	padding-left: 5px;
	color: $dateColor;
}

/* Chatbox */
.chatbox-area {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #333333;
	height: 75px;
}

.chatbox {
	width: 100%;
	margin-top: 0px;
}

::ng-deep .chatbox-area {
	color: white !important;
}