<h2 mat-dialog-title>Changer les paramètres du channel</h2>
<mat-dialog-content>
	<form #settingsForm="ngForm">
		<mat-form-field color="accent">
			<mat-label>Changer le nom du channel</mat-label>
			<input [disabled]="disableSelect" matInput [(ngModel)]="currentSettings.name" maxlength="32" name="newName" placeholder="{{currentSettings.name}}">
		</mat-form-field>

		<mat-form-field color="accent">
			<mat-label>Type du channel</mat-label>
			<mat-select [disabled]="disableSelect" [(ngModel)]="currentSettings.type" name="newType" value="{{currentSettings.type}}" (selectionChange)="onToggle($event)">
				<mat-option value="Public">Public</mat-option>
				<mat-option value="Privé">Privé</mat-option>
				<mat-option value="Protégé">Protégé</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field color="accent" *ngIf="isPasswordChecked">
			<mat-label>Mot de passe</mat-label>
			<input [disabled]="disableSelect" [type]="'password'" matInput ngModel maxlength="32" name="newPassword" placeholder="Password">
		</mat-form-field>

		<mat-form-field color="accent">
			<mat-label>Ajouter des utilisateurs</mat-label>
			<mat-select [(ngModel)]="currentSettings.users" name="newUsers" multiple [disabled]="shouldBlock()">
				<mat-option *ngFor="let friend of myUser.friends" [value]="friend">{{friend}}</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field color="accent">
			<mat-label>Ajouter des administrateurs</mat-label>
			<mat-select [(ngModel)]="currentSettings.admins" name="newAdmins" multiple [disabled]="shouldBlock()">
				<mat-option *ngFor="let friend of myUser.friends" [value]="friend">{{friend}}</mat-option>
			</mat-select>
		</mat-form-field>
	</form>
</mat-dialog-content>
<mat-dialog-actions>
	<br>
	<button mat-raised-button color="accent" (click)="submitValues(settingsForm.value)" [disabled]="disableSelect">Save</button>
	<button mat-button color="accent" (click)="closeDialog()">Cancel</button>
	<button mat-button color="warn" (click)="deleteChannel()" [disabled]="disableSelect">Delete</button>
</mat-dialog-actions>